i,
svg {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(127, 255, 212, 0.097);
}
@media (max-width:600px){
.container{
        flex-direction: column;
    }
    .container .sidebar{
        display: none;
    }
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    margin-left: 150px;
}

.bg-green {
    background-color: #46BAAB;
}

.bg-red {
    background-color: #FB416F;
}

.bg-yellow {
    background-color: #FFC835;
}

.bg-blue {
    background-color: #62BCDB;
}

.bg-purple {
    background-color: #723CE6;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #EFF2F4;
}

.bg-lite-green {
    background-color: #E0F3FC;
}

.bg-lite-red {
    background-color: #FEECF1;
}

.bg-lite-yellow {
    background-color: #FFF5D6;
}

.lite-yellow {
    color: #FFF5D6;
}

.lite-red {
    color: #FEECF1;
}

.lite-green {
    color: #E0F3FC;
}

.gray {
    color: #EFF2F4;
}

.red {
    color: #FB416F;
}

.yellow {
    color: #FFC835;
}

.blue {
    color: #62BCDB;
}

.purple {
    color: #723CE6;
}

.white {
    color: white;
}

.green {
    color: #46BAAB;
}

.gap-10 {
    gap: 10px;
}

h4,
h5 {
    margin: 0;
}

.cta {
    position: absolute;
    top: 156px;
    right: 34px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.w-100{
    width: 70%;
}

p {
    margin: 0;
    font-size: 11px;
}

.hover:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.clr-hover:hover {
    color: white;
    background-color: #46BAAB;
}

.box-a button {
    width: 470px;
    height: 40px;
    border-radius: 3px;
    border: none;
}

.progress {
    margin-bottom: 6px;
}

.progress-bar {
    width: 350px;
    height: 10px;
    border-radius: 10px;
}

.bar-1 {
    width: 150px;
    height: 10px;
    border-radius: 10px;
}

.bar-2 {
    width: 100px;
    height: 10px;
    border-radius: 10px;
}

.bar-3 {
    width: 90px;
    height: 10px;
    border-radius: 10px;
}

.bar-4 {
    width: 50px;
    height: 10px;
    border-radius: 10px;
}

.container {
    height: 678px;
}

.sidebar {
    height: 690px;
    background-color: rgba(127, 255, 212, 0.097);
}

.main-content {
    height: 678px;
}

.header {
    display: flex;
}

.header-1 {
    width: 1000px;
    height: 180px;
    color: white;

}

.header-2 {
    width: 470px;
    height: 180px;
}

.small-box i {
    margin: 5px 0 0 3px;
}

.box-a {
}

.box-b {

}

.box-c {
    padding: 10px 30px;
}

.box-d {
    padding: 10px 0;
}


#bg-yellow {
    background-color: yellow;
}

.users {
    margin-left: 20px;
}

.students {
    margin-left: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon i {
    width: 18px;
    height: 1px;
}

.header-1 img {
    margin: 10px;
}


.header-2-inner button {
    background-color: blue;
    border: transparent;
    border-radius: 4PX;
    width: 400px;
    height: 30PX;
    margin: 10px 0;
}

.course-index {
    width: 400px;
}

.radius {
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding: 1px 6px;
}

.discusion {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    width: 190px;
}

.courses-uneder-progres {
    background-color: white;
    border-radius: 10px;
    width: 190px;
}

.bg {
    background-color: rgba(127, 255, 212, 0.337);
    width: 190px;
    border-radius: 10px;
}

.k450 {
    width: 260px;
    padding: 10px;
    border-radius: 10px;
}

.k200 {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
}


.mt-10 {
    margin-top: 10px;
}

.a {
    height: 50px;
}

.small-box {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.smal-box {
    border-radius: 50%;
}

.large-box {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 7px;
    padding: 0 0 0 20px;
}

.popular-courses {
    width: 440px;
}